attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
idna==3.11
Jinja2==3.1.6
jsonpath-ng==1.7.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
pathspec==0.12.1
ply==3.11
Pygments==2.19.2
referencing==0.37.0
requests==2.32.5
rich==14.2.0
rich-click==1.9.3
robotframework==7.3.2
robotframework-jsonlibrary==0.5
robotframework-requests==0.9.7
robotframework-tidy==4.18.0
rpds-py==0.27.1
tomli==2.3.0
urllib3==2.5.0
